.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 320px;
  background-color: black;
  margin: auto;
  border: 5px solid black;
  position: relative;
}

#display {
  width: 90%;
  height: 50px;
  color: white;
  font-size: 29px;
  text-align: right;
  line-height: 35px;
  margin: auto;
}

#inputDisplay {
  width: 90%;
  height: 20px;
  color: yellow;
  font-size: 15px;
  text-align: right;
  line-height: 20px;
  margin: auto;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  cursor: default;
  background-color: #4d4d4d;
}
button:hover {
  color: black;
  outline: .05em solid grey;
  z-index: 3;
}
